:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff ;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText:#4b5156;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #f0ead6;

    --buttonColor: black;
}


html, body{
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    background-color: var(--mainColor);
}

body *{
    transition: ease-in 0.7s;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--mainText);
    font-family: 'Delius Unicase', cursive;
}

p, li, span, label, input,textarea{
    color: var(--secondaryText,yellow);
    font-family: 'Quicksand', sans-serif;
}

h1{ font-size: 56px}
h2{ font-size: 36px}
h3{ font-size: 28px}
h4{ font-size: 24px}
h5{ font-size: 20px}
h6{ font-size: 16px}

a{
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
    padding: 0px;
}


.s1{
    background-color: var(--mainColor);
    border-bottom: 1px groove var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px ridge var(--borderColor);
}
.main-container {
    width: 1200px;
    margin: 0 auto;
  
}

#screen{
    margin-bottom: 7em;
}

.greeting-wrapper{
    display: grid;
    justify-content: center;
    align-content: center;
}

.display-wrapper{
    background-color: var(--secondaryColor);
    border: 5px solid var(--mainText);
    border-bottom: 0px;
    border-radius: 20px 20px 20px 20px;


    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 3em 30em; */
    grid-template-areas:
     'left-column right-column'
     'topbar topbar' ;

    /* -webkit-box-shadow: 43px 39px 32px 17px rgba(0,0,0,0.33);
    -moz-box-shadow: 43px 39px 32px 17px rgba(0,0,0,0.33);
    box-shadow: 43px 39px 32px 17px rgba(0,0,0,0.33); */
}

.bottom-bar{
    grid-area: topbar;
    border-bottom: 1px solid var(--borderColor );
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainText);
    border-radius: 0px 0px 14px 14px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    /* -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75); */
    
}

#power-dot{
    background-color: #fc0303;
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

/* #dot-2{
    background-color:rgb(252, 186, 7);
} */

#menu-dots{
    display: flex;
    align-content: space-between;
    background-color: var(--mainColor);
    width: 100px;
    height: 20px;
    border-radius: 10px ;
    color: var(--mainText);
    text-align: right;
    margin-left: 60px;
}

#hp-dot{
    background-color: var(--mainColor);
    color: var(--mainText);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-style: italic;
}

.control-dot{
    padding: 5px;;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
#navigation span{
    color: var(--mainColor);
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic{
    border-radius: 30px 0px 30px 0px;
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 200px;
    /* object-fit: cover; */
    border: 2px solid car(--borderColor);
}

#profile_pic:hover{
    transform: rotateY(360deg);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    
}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: blue;
}
#green-mode{
    background-color: green;
}
#dark-mode{
    background-color: #0c1933;;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 100px;
    padding-bottom: 200px;
}
#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}
#preview{
    width: 300px;
    border: 2px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #17a2b8;
    background-color: #fff;
    position: absolute ;
}

#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

.flex{
    display:flex;
    justify-content: space-between;
    padding-left:10px;
    padding-right:10px;
    color:var(--mainText);
}

.skills{
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.py {width: 80%; background-color: #25d4a9;}
.git {width: 90%; background-color: #d64b6d;}
.django {width: 85%; background-color: #e2c20a;}
.react {width: 60%; background-color:#08bff7;}
.js {width: 65%; background-color: #eb4747;}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    margin-top: 50px;
}

.social_links{
    display: grid;
    align-content: center;
    text-align: center;
    
}

#links{
    background-color: var(--previewShadow);
    padding-bottom: 50px;
    margin-top: 35px;
}

#social_img{
    width: 100%;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;

}

.thumbnail{
    display: block;
    width: 100%;
    height: 200px;
   
}

.post-preview{
    background-color: #fff;
    padding: 15px;

}

.post-title{
    color: black;
    margin: 0;
}

.post-intro{
    color: #4b5156;
    font-size: 14px;
}

.post{
    border: 1px solid var(--borderColor);
}



#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50p;
}

#contact-form label{
    line-height: 2.7em;
}

#contact-form textarea{
    min-height: 150px;
    font-size: 16px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14p;
}

#submit-btn{
    margin-top: 10px;
    border: 1px solid white;
    width: 100%;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 90%;
    }
}

@media screen and (max-width: 800px){
    .display-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
         'topbar' 
         'left-column'
         'right-column';
    }

    .right-column{
        justify-content: center;
    }
}